body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}

.print-version p {
  line-height: 1.2em;
  margin: 0 2.5% 1em;
}

.print-version .pane-print-ui-print-links {
  display: none;
}

.print-version .sidebar-content {
  display: none;
}

th {
  text-align: center;
  color: #006;
  border-bottom: 1px solid #ccc;
}

tr.odd {
  background-color: #ddd;
}

tr.even {
  background-color: #fff;
}

td {
  padding: 5px;
}

#menu {
  visibility: hidden;
}

#main {
  margin: 1em;
}

a:link {
  color: blue;
}

a:link img {
  border: 0;
}

a:visited {
  color: blue;
}

a:visited img {
  border: 0;
}

a:hover {
  color: #00f;
}

.print-footnote {
  font-size: xx-small;
}

.print-breadcrumb {
  font-size: x-small;
}

.print-submitted {
  font-size: small;
}

.print-created {
  font-size: small;
}

.print-taxonomy {
  text-align: right;
}

.print-taxonomy li {
  display: inline;
}

.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9e9e9e;
  background-color: #9e9e9e;
}

.print-message {
  border: medium dotted  blue;
  padding: 1em;
}

.print-source_url {
  font-size: small;
}

.print-links {
  font-size: small;
}

.print-footer {
  text-align: center;
}

div.view-id-full_calendar_view.view-display-id-page_6 div.view-content h3 {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: .5em;
  margin-top: .5em;
}

div.view-id-full_calendar_view.view-display-id-page_6 span.views-field.views-field-body {
  margin: 5px 15px 5px 35px;
  display: list-item;
  list-style-image: url(../images/bicycle-bullet.png);
}

div.view-id-full_calendar_view.view-display-id-page_6 span.views-field.views-field-body a {
  text-decoration: none;
}

div.view-id-full_calendar_view.view-display-id-page_6 span.views-field.views-field-body a:hover {
  text-decoration: underline;
}

div.view-id-full_calendar_view.view-display-id-page_4 div.view-content h3 {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-top: .1em;
  padding-bottom: .1em;
  margin-bottom: .5em;
  margin-top: .5em;
}

div.view-id-full_calendar_view.view-display-id-page_4 div.views-field.views-field-field-event-description {
  margin: 5px 15px 5px 35px;
  display: list-item;
  list-style-image: url(../images/bicycle-bullet.png);
}

div.view-id-full_calendar_view.view-display-id-page_4 div.views-field.views-field-field-event-description a {
  text-decoration: none;
}

div.view-id-full_calendar_view.view-display-id-page_4 div.views-field.views-field-field-event-description a:hover {
  text-decoration: underline;
}

div.art-postmetadataheader {
  text-align: center;
}

div.field.field-name-field-ride-leader a {
  text-decoration: none;
  font-weight: bold;
}

div.field.field-name-field-ride-leader a:hover {
  text-decoration: underline;
  color: #279ac4;
}

div.field.field-name-field-starting-location a {
  text-decoration: none;
  font-weight: bold;
}

div.field.field-name-field-starting-location a:hover {
  text-decoration: underline;
  color: #279ac4;
}

div.adr {
  line-height: 1.2em;
}

div.field-type-entityreference .art-post {
  border-radius: 10px;
  border: 3px solid #ccc;
  padding: 5px;
  margin: 5px;
}

div.field-type-entityreference .art-article > .group-footer {
  margin-right: 0;
  margin-left: 0;
}

div.field-type-entityreference div.group-footer div.field-label {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

div.field-name-field-low-temperature {
  display: block;
  float: left;
  margin-right: 1em;
}

div.field-name-field-temperature {
  display: block;
  float: left;
  margin-right: 1em;
}

div.field-name-field-temperature div.field-label:before {
  content: "to ";
}

div.group-footer div.field-label {
  margin-top: 1em;
}

div.user-profile.view-mode-mhcc_ride_event div.field.field-name-ds-user-picture.field-type-ds.field-label-hidden img {
  float: right;
  margin: -.75em .5em .5em 1em;
}

div.node-ride-event div.field-name-field-ride-leader {
  padding: 5px;
  background-origin: border-box !important;
  border-radius: 6px;
  border: 3px solid #ccc;
  margin-left: -8px;
  margin-bottom: 1em;
}

div.node-ride-event div.field-name-field-starting-location {
  padding: 5px;
  background-origin: border-box !important;
  border-radius: 6px;
  border: 3px solid #ccc;
  margin-left: -8px;
  margin-bottom: 1em;
}

div.node-ride-event div.node-starting-location.view-mode-mhcc_ride_event {
  margin-left: 1.5em;
}

div.node-ride-event div.user-profile.view-mode-mhcc_ride_event {
  margin-left: 1.5em;
}

div.node-ride-event div.user-profile.view-mode-mhcc_ride_event .field-label {
  margin-left: -1.5em;
}

div.field-name-field-ride-leader.field-type-entityreference {
  background: rgba(221, 221, 221, 0);
  border-style: none;
}

div.field-name-field-starting-location.field-type-entityreference {
  background: rgba(221, 221, 221, 0);
  border-style: none;
}

div.field-name-field-ride.field-type-entityreference div.field.field-name-title {
  display: none;
}

div.field-name-field-weather-experienced div.field-item {
  display: inline-block;
}

div.field-name-field-weather-experienced div.field-item:after {
  content: ",\00a0\00a";
}

div.field-name-field-weather-experienced div.field-item:last-of-type:after {
  content: "";
}

div.field-name-field-map-used.field-label-inline .field-label {
  width: 15em;
}

div.field-name-field-map-or-ride-suggestions.field-label-inline .field-label {
  width: 15em;
}

div.field-name-field-refreshment-stops.field-label-inline .field-label {
  width: 15em;
}

span.starting-location {
  margin-left: .2em;
  margin-right: .2em;
}

span.starting-location:after {
  content: ", ";
}

span.ride-leader {
  margin-left: .2em;
  margin-right: .2em;
}

span.ride-leader:after {
  content: ", ";
}

span.starting-location-address {
  margin-right: .2em;
}

span.starting-location-address:after {
  content: ", ";
}

span.starting-location-directions {
  margin-right: .2em;
}

span.starting-location-directions:after {
  content: ", ";
}

span.public-phone {
  margin-right: .2em;
}

span.public-phone:after {
  content: ", ";
}

.art-article > .group-left {
  float: left;
  width: 45%;
  margin-left: 2.5%;
  margin-top: 1px;
}

.art-article > .group-right {
  float: right;
  width: 45%;
  margin-right: 2.5%;
}

.art-article > .group-header {
  margin-top: 1em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1em;
}

.art-article > .group-footer {
  clear: both;
  display: block;
  overflow: auto;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.art-article.group-one-column > .group-left {
  width: 100%;
  float: none;
}

.art-article.group-one-column > .group-right {
  width: 100%;
  float: none;
}

.art-postheadericons {
  padding: 1px;
  margin: 0;
  text-align: center;
}

fieldset {
  border-radius: 10px;
}

fieldset#node_mhcc_ride_report_full_group_temp_range {
  border-style: none;
  margin: 0;
  padding: 0;
}

fieldset#node_mhcc_ride_report_full_group_temp_range span.fieldset-legend {
  font-weight: bold;
}

fieldset#node_mhcc_ride_report_full_group_number_of_riders legend {
  font-weight: bold;
}

fieldset#node_mhcc_ride_report_full_group_number_of_riders .field-label-inline .field-label {
  width: 22em;
}

.page-user div.field-name-ds-user-picture img {
  float: left;
}

.page-user div.field-name-field-public-email p {
  margin: 0;
}

.page-user span.country {
  display: none;
}

.page-user span.locality:after {
  content: ",";
}

img.print-logo {
  border: 0;
  width: 200px;
}

h2.art-postheader {
  margin: 0;
}

.group-left .field-label-inline .field-label {
  width: 11em;
}

.group-right .field-label-inline .field-label {
  width: 11em;
}

.node-type-bikeabout-post .row-one,
.node-bikeabout-post .row-one {
  width: 100%;
}

.node-type-bikeabout-post .bikeabout-header,
.node-bikeabout-post .bikeabout-header {
  text-align: center;
  width: 100%;
}

.node-type-bikeabout-post .pane-node-field-bikeabout-issue,
.node-type-bikeabout-post .pane-node-field-bikeabout-post-type,
.node-bikeabout-post .pane-node-field-bikeabout-issue,
.node-bikeabout-post .pane-node-field-bikeabout-post-type {
  font-weight: bold;
  display: inline-block;
  vertical-align: bottom;
}

.node-type-bikeabout-post .pane-node-field-bikeabout-post-type,
.node-bikeabout-post .pane-node-field-bikeabout-post-type {
  display: block;
}

@media (min-width: 415px) {
  .node-type-bikeabout-post .pane-node-field-bikeabout-post-type,
  .node-bikeabout-post .pane-node-field-bikeabout-post-type {
    display: inline-block;
  }
  .node-type-bikeabout-post .pane-node-field-bikeabout-post-type:before,
  .node-bikeabout-post .pane-node-field-bikeabout-post-type:before {
    content: " - ";
    display: inline-block;
  }
  .node-type-bikeabout-post .pane-node-field-bikeabout-post-type .pane-content,
  .node-bikeabout-post .pane-node-field-bikeabout-post-type .pane-content {
    display: inline-block;
  }
}

.node-type-bikeabout-post .pane-node-author,
.node-bikeabout-post .pane-node-author {
  display: inline;
  width: auto;
}

.node-type-bikeabout-post .pane-node-author:before,
.node-bikeabout-post .pane-node-author:before {
  content: " - ";
  display: inline-block;
  margin-right: 0;
  vertical-align: baseline;
  font-size: inherit;
  font-weight: bold;
}

.node-type-bikeabout-post .pane-node-author .pane-content,
.node-bikeabout-post .pane-node-author .pane-content {
  display: inline-block;
}

.node-type-bikeabout-post .pane-node-author .pane-content:before,
.node-bikeabout-post .pane-node-author .pane-content:before {
  content: url("images/postauthoricon.png");
  margin-right: 0;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.node-type-bikeabout-post .pane-node-field-primary-image,
.node-bikeabout-post .pane-node-field-primary-image {
  float: none;
  margin: auto;
  text-align: center;
}

.node-type-bikeabout-post .pane-node-field-primary-image img,
.node-bikeabout-post .pane-node-field-primary-image img {
  width: auto;
  display: inline;
}

@media (min-width: 760px) {
  .node-type-bikeabout-post .pane-node-field-primary-image,
  .node-bikeabout-post .pane-node-field-primary-image {
    float: left;
    margin-right: 1em;
  }
}

.node-type-bikeabout-post .pane-node-field-tags,
.node-bikeabout-post .pane-node-field-tags {
  margin: 0 2.5%;
}

.pane-content-image-slideshow-panel-pane-1 {
  width: 95%;
  float: none;
  margin: 0 2.5%;
}

@media (min-width: 530px) {
  .pane-content-image-slideshow-panel-pane-1 {
    width: 50%;
    float: left;
    margin-right: 1em;
    margin-left: 2.5%;
  }
}

.pane-content-image-slideshow-panel-pane-1 .views-slideshow-cycle-main-frame {
  width: 100% !important;
}

.view-content-image-slideshow .views-slideshow-controls-bottom {
  float: none;
  width: unset;
  text-align: center;
}

.view-content-image-slideshow .views-slideshow-pager-field-item {
  cursor: pointer;
  display: inline-block;
  background: #222;
  margin: 0.4em;
  line-height: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
}

.view-content-image-slideshow .views-slideshow-pager-field-item a {
  display: inline-block;
  text-indent: -9999px;
}

.view-content-image-slideshow .views-slideshow-pager-field-item.active {
  background: #aaa;
  cursor: default;
}

.view-content-image-slideshow .flexslider {
  margin-bottom: 30px;
  background: unset;
  border: 0;
}

.view-content-image-slideshow .flexslider .slides {
  margin: 0;
}

.view-content-image-slideshow .flexslider .slides:before {
  display: none;
}

.view-content-image-slideshow .flexslider .slides li::before {
  display: none;
}

.view-content-image-slideshow .flexslider .flex-control-nav {
  margin: 0;
}

.view-content-image-slideshow .flexslider .flex-control-nav li {
  margin: 3px;
}

.view-content-image-slideshow .flexslider .flex-direction-nav li {
  list-style-image: none !important;
}

.view-content-image-slideshow .flexslider .flex-direction-nav li::before {
  display: none;
}

.view-content-image-slideshow .flexslider .flex-direction-nav a::before {
  line-height: 1;
  color: #fed005;
}

.view-content-image-slideshow .flexslider .flex-caption {
  text-align: center;
  background: #BBE3F2;
  border-radius: 4px;
  border: 1px solid #9DC4D7;
  position: relative;
  z-index: 1;
  padding: 1px;
  margin: 5px 2.5% 5px;
  font-size: .9em;
}

.rest-stop-header img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
  margin-bottom: 5px;
}
/*# sourceMappingURL=print.css.map */