@import "bower_components/breakpoint-sass/stylesheets/breakpoint";

body {
  margin: 1em;
  background-color: #fff;
  font-family: sans-serif;
}
.print-version {
  p {
    line-height: 1.2em;
    margin: 0 2.5% 1em;
  }

  .pane-print-ui-print-links {
    display: none;
  }
  .sidebar-content {
    display: none;
  }
}
th {
  text-align: center;
  color: #006;
  border-bottom: 1px solid #ccc;
}
tr {
  &.odd {
    background-color: #ddd;
  }
  &.even {
    background-color: #fff;
  }
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a {
  &:link {
    color: blue;
    img {
      border: 0;
    }
  }
  &:visited {
    color: blue;
    img {
      border: 0;
    }
  }
  &:hover {
    color: #00f;
  }
}

.print-footnote {
  font-size: xx-small;
}
.print-site_name {
}
.print-breadcrumb {
  font-size: x-small;
}
.print-title {
}
.print-submitted {
  font-size: small;
}
.print-created {
  font-size: small;
}
.print-taxonomy {
  text-align: right;
  li {
    display: inline;
  }
}
.print-content {
}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9e9e9e;
  background-color: #9e9e9e;
}
.print-message {
  border: medium dotted  blue;
  padding: 1em;
}
.print-source_url {
  font-size: small;
}
.print-links {
  font-size: small;
}
.print-footer {
  text-align: center;
}
div {
  &.view-id-full_calendar_view {
    &.view-display-id-page_6 {
      div.view-content h3 {
        background-color: black;
        color: white;
        padding-left: 1em;
        padding-top: .1em;
        padding-bottom: .1em;
        margin-bottom: .5em;
        margin-top: .5em;
      }
      span.views-field.views-field-body {
        margin: 5px 15px 5px 35px;
        display: list-item;
        list-style-image: url(../images/bicycle-bullet.png);
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    &.view-display-id-page_4 div {
      &.view-content h3 {
        background-color: black;
        color: white;
        padding-left: 1em;
        padding-top: .1em;
        padding-bottom: .1em;
        margin-bottom: .5em;
        margin-top: .5em;
      }
      &.views-field.views-field-field-event-description {
        margin: 5px 15px 5px 35px;
        display: list-item;
        list-style-image: url(../images/bicycle-bullet.png);
        a {
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &.art-postmetadataheader {
    text-align: center;
  }
  &.field {
    &.field-name-field-ride-leader a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        color: #279ac4;
      }
    }
    &.field-name-field-starting-location a {
      text-decoration: none;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        color: #279ac4;
      }
    }
  }
  &.adr {
    line-height: 1.2em;
  }
  &.field-type-entityreference {
    .art-post {
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 10px;
      border: 3px solid #ccc;
      padding: 5px;
      margin: 5px;
    }
    .art-article > .group-footer {
      margin-right: 0;
      margin-left: 0;
    }
    div.group-footer div.field-label {
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  &.field-name-field-low-temperature {
    display: block;
    float: left;
    margin-right: 1em;
  }
  &.field-name-field-temperature {
    display: block;
    float: left;
    margin-right: 1em;
    div.field-label:before {
      content: "to ";
    }
  }
  &.group-footer div.field-label {
    margin-top: 1em;
  }
  &.user-profile.view-mode-mhcc_ride_event div.field.field-name-ds-user-picture.field-type-ds.field-label-hidden img {
    float: right;
    margin: -.75em .5em .5em 1em;
  }
  &.node-ride-event div {
    &.field-name-field-ride-leader {
      padding: 5px;
      //Instead of the line below you could use @include background-origin($origin)
      background-origin: border-box !important;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 6px;
      border: 3px solid #ccc;
      margin-left: -8px;
      margin-bottom: 1em;
    }
    &.field-name-field-starting-location {
      padding: 5px;
      //Instead of the line below you could use @include background-origin($origin)
      background-origin: border-box !important;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 6px;
      border: 3px solid #ccc;
      margin-left: -8px;
      margin-bottom: 1em;
    }
    &.node-starting-location.view-mode-mhcc_ride_event {
      margin-left: 1.5em;
    }
    &.user-profile.view-mode-mhcc_ride_event {
      margin-left: 1.5em;
      .field-label {
        margin-left: -1.5em;
      }
    }
  }
  &.field-name-field-ride-leader.field-type-entityreference {
    background: rgba(221, 221, 221, 0.00);
    border-style: none;
  }
  &.field-name-field-starting-location.field-type-entityreference {
    background: rgba(221, 221, 221, 0.00);
    border-style: none;
  }
  &.field-name-field-ride.field-type-entityreference div.field.field-name-title {
    display: none;
  }
  &.field-name-field-weather-experienced div.field-item {
    display: inline-block;
    &:after {
      content: ",\00a0\00a";
    }
    &:last-of-type:after {
      content: "";
    }
  }
  &.field-name-field-map-used.field-label-inline .field-label {
    width: 15em;
  }
  &.field-name-field-map-or-ride-suggestions.field-label-inline .field-label {
    width: 15em;
  }
  &.field-name-field-refreshment-stops.field-label-inline .field-label {
    width: 15em;
  }
}
span {
  &.starting-location {
    margin-left: .2em;
    margin-right: .2em;
    &:after {
      content: ", ";
    }
  }
  &.ride-leader {
    margin-left: .2em;
    margin-right: .2em;
    &:after {
      content: ", ";
    }
  }
  &.starting-location-address {
    margin-right: .2em;
    &:after {
      content: ", ";
    }
  }
  &.starting-location-directions {
    margin-right: .2em;
    &:after {
      content: ", ";
    }
  }
  &.public-phone {
    margin-right: .2em;
    &:after {
      content: ", ";
    }
  }
}
.art-article {
  > {
    .group-left {
      float: left;
      width: 45%;
      margin-left: 2.5%;
      margin-top: 1px;
    }
    .group-right {
      float: right;
      width: 45%;
      margin-right: 2.5%;
    }
    .group-header {
      margin-top: 1em;
      margin-left: 2.5%;
      margin-right: 2.5%;
      margin-bottom: 1em;
    }
    .group-footer {
      clear: both;
      display: block;
      overflow: auto;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }
  }
  &.group-one-column > {
    .group-left {
      width: 100%;
      float: none;
    }
    .group-right {
      width: 100%;
      float: none;
    }
  }
}
.art-postheadericons {
  padding: 1px;
  margin: 0;
  text-align: center;
}
fieldset {
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
  &#node_mhcc_ride_report_full_group_temp_range {
    border-style: none;
    margin: 0;
    padding: 0;
    span.fieldset-legend {
      font-weight: bold;
    }
  }
  &#node_mhcc_ride_report_full_group_number_of_riders {
    legend {
      font-weight: bold;
    }
    .field-label-inline .field-label {
      width: 22em;
    }
  }
}
.page-user {
  div {
    &.field-name-ds-user-picture img {
      float: left;
    }
    &.field-name-field-public-email p {
      margin: 0;
    }
  }
  span {
    &.country {
      display: none;
    }
    &.locality:after {
      content: ",";
    }
  }
}
img.print-logo {
  border: 0;
  width: 200px;
}
h2.art-postheader {
  margin: 0;
}
.group-left .field-label-inline .field-label {
  width: 11em;
}
.group-right .field-label-inline .field-label {
  width: 11em;
}

.node-type-bikeabout-post,
.node-bikeabout-post {
    .row-one {
        width: 100%;
    }
    .bikeabout-header {
        text-align: center;
        width: 100%;
    }
    .pane-node-field-bikeabout-issue,
    .pane-node-field-bikeabout-post-type {
        font-weight: bold;
        display: inline-block;
        vertical-align: bottom;
    }
    .pane-node-field-bikeabout-post-type {
        display: block;

        @include breakpoint(415px) {
            display: inline-block;
            &:before {
                content: " - ";
                display: inline-block;
            }
            .pane-content {
                display: inline-block;
            }
        }
    }

    .pane-node-author {
        display: inline-block;
        width: 100%;

        &:before {
            content: none;
            vertical-align: baseline;
            font-size: inherit;
            font-weight: bold;
        }

        .pane-content:before {
            content: url("images/postauthoricon.png");
            margin-right: 0;
            bottom: 2px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            line-height: 0;
        }

        @include breakpoint(570px) {
            display: inline;
            width: auto;

            &:before {
                content: " - ";
                display: inline-block;
                margin-right: 0;
            }
            .pane-content {
                display: inline-block;
            }
        }
    }

    .pane-node-field-primary-image {
        float: none;
        margin: auto;
        text-align: center;

        img {
            width: auto;
            display: inline;
        }

        @include breakpoint(760px) {
            float: left;
            margin-right: 1em;
        }
    }

    .pane-node-field-tags {
        margin: 0 2.5%;
    }
}